* {
    font-family: sans;
}

.true, .false {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin:0 2px;
}
.true {
    border: 2px solid #47e;
    background-color: #555;
    border-radius: 5px;
}
.false {
    border: 2px solid #47e;
    border-radius: 5px;
}

.TimeProgress {
    width:100px;
}
.done, .notdone {
    display: inline-block;
    height: 10px;
}
.done {
    background-color: #aea;
    border-radius: 5px 0px 0px 5px;
}
.notdone {
    background-color: #aaa;
    border-radius: 0px 5px 5px 0px;
}

.button {
    display: inline-block;
    background-color: #666;
    border-radius: 5px;   
    color: #fff;
    padding: 5px 8px;
    cursor: pointer; 
}

.active {
    display: inline-block;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
}
.active.disabled {
    color: #aaa;
    cursor: default;
}

.statusBox {
    border: 1px #888;
    border-style: dotted dotted none dotted;
    padding: 10px 10px 0 10px;
    margin: 10px 10px 0 10px;
}

.actionsBox {
    border: 1px #888;
    border-style: none dotted dotted dotted;
    padding: 10px 10px 10px 10px;
    margin: 0 10px 10px 10px;
}


.listBox, .filesBox {
    border:1px dotted #888;
    padding: 10px;
    margin: 10px;
    float: left;
}
.listBox>.list, .filesBox>.list {
    margin: 0px;
    padding: 0px;
}
.filesBox>.pathCrumbs {
    padding-bottom: 8px;
}
.filesBox>.pathCrumbs>.crumb {
    font-style: italic;
    color: #aaa;    
    cursor: pointer;
}
.filesBox>.pathCrumbs>.selected {
    font-style: normal;
    color: #000;
    cursor: default;
}
.list>.item {
    list-style-type: none;
    cursor: pointer;
    clear:both;
}
.current {
    background-color: #eee;
}
.addToPlaylistButton {
    float: right;
    margin-left: 14px;
    border-radius: 4px;
    padding: 2px 6px 1px 3px;
    background-color: #eee;
    font-size: 10px;
}